.color1{
	color: #038E94;
	font-family: "Homer Simpson", cursive;
}

.color2{
	color: #05975E;
	font-family: "Homer Simpson", cursive;
}

#cabecera{
	background-color: #212529;
}
#cabecera a{
	color: white;
	font-weight: bold;
	text-decoration:none;
}

#cabecera a:hover{
	color: #0CA889;
	text-shadow: 0 0 3px #05975E;
}

#quienesSomos{
	font-family: "Homer Simpson", cursive;
}
