
#footer{
	background-color: #052B30;
}

#footer a{
	color: #ffffff;
}
#header{
	background-color: #052B30;
}

#header img{
	width: : 70px;
	height: 60px;
	border-radius: 50%;
}

/* hover no funciona*/
.btn-succes:hover{
	background-color: #F8215F;
}

.text-proyecto{
	color:  #ffffff !important;
}

#main .carousel-inner img{
max-height: 70vh;
object-fit: cover;
filter: grayscale(50%);
}

.card-title{
	color: #054E51;
	text-shadow: 1px 1px 3px #038E94;
	font-family: "Homer Simpson", cursive;
}

#carousel{
	position: relative;
}

#carousel .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:  rgba(0, 0, 0, 0.6);
	color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
	height: 100%;
}

#place-time{
	background-color: #212529;
	color: white;
}

#place-time img{
  max-width: 100%;
}

#servicios{
	font-family: "Poppins",Sans-serif;
	font-weight: bold;
}

button.btn-boton{
	background-color: #05975E;
	color: white !important;
}

button.btn-boton:hover{
	background-color: #027447;
}

.social-bar {
	position: fixed;
	left: : 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

/* inicio de whatsapp flotante*/
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.fa-whatsapp {
	color: #25d366;
}

.icon:last-child {
	border-radius: 0 1rem  1rem  0;
}

.icon:hover {
	padding-right: 4rem;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}